<template>
    <div>
        <v-navigation-drawer app v-model="drawer">
            <v-list>
                <v-list-tile v-for="link of sideBarLinks" :key="link.title" :to="link.url">
                    <v-list-tile-action>
                        <v-icon>{{link.icon}}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title v-text="link.title">
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>

        <v-toolbar app dark color="primary">
            <v-btn icon @click="$router.go(-1)">
                <v-icon>arrow_back</v-icon>
            </v-btn>
            <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>
                <router-link to="/" tag="span" class="pointer">{{appName}}</router-link>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn v-for="link of headerLinks" :key="link.title" :to="link.url" flat>
                <v-icon>{{link.icon}}</v-icon>
                {{link.title}}
            </v-btn>

            <div v-if="!this.$store.getters.isUserLoggedIn">
                <v-btn to="/login" flat>
                    <v-icon>lock</v-icon>
                    Login
                </v-btn>
                <v-btn to="/register" flat>
                    <v-icon>person_add</v-icon>
                    Register
                </v-btn>
            </div>
            <v-btn @click="onLogout" flat v-else>
                <v-icon>exit_to_app</v-icon>
                Logout
            </v-btn>
        </v-toolbar>

        <v-content>
            <v-container fluid>
                <router-view>
                </router-view>
            </v-container>
        </v-content>

        <v-footer app>
        </v-footer>

    </div>
</template>

<script>
    export default {
        props: ['appName'],
        data() {
            return {
                drawer: false
            }
        },
        computed: {
            sideBarLinks() {
                return [
                    {title: 'Users', icon: 'people', url: '/users'},
                    {title: 'Cards', icon: 'note_add', url: '/categories'},
                ]
            },
            headerLinks() {
                return []
            }
        },
        methods: {
            onLogout() {
                this.$store.dispatch('logoutUser')
                    .then(() => {
                        this.$router.push('/login')
                    })
                    .catch(() => {
                    })
            },
        }
    }
</script>

<style scoped>
    .pointer {
        cursor: pointer;
    }
</style>