<template>
    <v-jumbotron>
        <v-container fill-height align-center>
            <v-layout align-center>
                <v-flex>
                    <h3 class="display-3">Whoops, 404</h3>

                    <span class="subheading">The page you were looking for does not exist</span>

                    <v-divider class="my-3"></v-divider>

                    <v-btn
                            class="mx-0"
                            color="primary"
                            large
                            @click="$router.go(-1)"
                    >
                        Go back
                    </v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </v-jumbotron>
</template>

<script>
    export default {
        name: "not-found"
    }
</script>

<style scoped>

</style>