<template>
    <v-app>
        <router-view></router-view>
        <template v-if="error">
            <v-snackbar
                    :timeout="5000"
                    :multi-line="true"
                    color="error"
                    @input="closeError"
                    :value="true">
                {{error}}
                <v-btn flat dark @click.native="closeError">Close</v-btn>
            </v-snackbar>
        </template>
    </v-app>
</template>

<script>
    export default {
        name: 'App',
        data() {
            return {
                section: 'Head'
            }
        },
        computed: {
            error() {
                return this.$store.getters.error
            },
        },
        methods: {
            onLogout() {
                this.$store.dispatch('logoutUser')
                    .then(() => {
                        this.$router.push('/login')
                    })
                    .catch(() => {
                    })
            },
            closeError() {
                this.$store.dispatch('clearError')
            },
        }
    }
</script>

<style scoped>

</style>