<template>

</template>

<script>
    export default {
        data() {
            return {};
        },
        mounted() {
            this.$store.dispatch('logoutUser')
                .then(() => {
                    this.$router.push('/login')
                })
                .catch(() => {
                })
        },
    }
</script>