<template>
    <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
                <v-toolbar dark color="primary">
                    <v-toolbar-title>Register form</v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                    <v-form v-model="valid" ref="form" validation>
                        <v-text-field
                                prepend-icon="email"
                                name="email"
                                label="E-mail"
                                type="email"
                                v-model="email"
                                :rules="emailRules">
                        </v-text-field>
                        <v-text-field
                                prepend-icon="person"
                                name="name"
                                label="Name"
                                type="text"
                                v-model="name"
                                :rules="nameRules">
                        </v-text-field>
                        <v-text-field
                                id="password"
                                prepend-icon="lock"
                                name="password"
                                label="Password"
                                type="password"
                                :counter="6"
                                v-model="password"
                                :rules="passwordRules">
                        </v-text-field>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn to="/login" color="warning">Go to Login</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary"
                           @click="onSubmit"
                           :loading="loading"
                           :disabled="!valid || loading">
                        Login
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    const emailRegex = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/

    export default {
        data() {
            return {
                email: '',
                password: '',
                name: '',
                valid: false,
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => emailRegex.test(v) || 'E-mail must be valid'
                ],
                passwordRules: [
                    v => !!v || 'Password is required',
                    v => (v && v.length >= 6) || 'Password must be equal or more than 6 characters'
                ],
                nameRules: [
                    v => !!v || 'Login is required',
                    v => (v && v.length >= 3) || 'Name must be equal or more than 3 characters'
                ]
            }
        },
        computed: {
            loading() {
                return this.$store.getters.loading
            }
        },
        methods: {
            onSubmit() {
                if (this.$refs.form.validate()) {
                    const user = {
                        email: this.email,
                        name: this.name,
                        password: this.password
                    }

                    this.$store.dispatch('registerUser', user)
                        .then(() => {
                            this.$router.push('/login')
                        })
                        .catch(() => {
                        })
                }
            }
        },
        created() {
        }
    }
</script>

<style scoped>

</style>