<template>
    <div>
        <v-toolbar flat color="white">
            <v-toolbar-title>Users</v-toolbar-title>
            <v-divider
                    class="mx-2"
                    inset
                    vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
            ></v-text-field>
            <v-divider
                    class="mx-2"
                    inset
                    vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
                <v-btn slot="activator" color="primary" dark class="mb-2">New User</v-btn>
                <v-card>
                    <v-form v-model="valid">
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-flex xs12 sm6 md4>
                                        <v-text-field
                                                v-model="editedItem.name"
                                                label="Name"
                                                :rules="nameRules"
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm6 md4>
                                        <v-text-field
                                                v-model="editedItem.email"
                                                :rules="emailRules"
                                                :error-messages="emailErrors"
                                                label="E-mail"
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm6 md4>
                                        <v-text-field
                                                v-model="editedItem.password"
                                                :counter="6"
                                                label="Password"
                                                :rules="passwordRules"
                                                type="password"
                                        ></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
                            <v-btn color="blue darken-1" :disabled="!valid" flat @click.native="save">Save</v-btn>
                        </v-card-actions>
                    </v-form>
                </v-card>
            </v-dialog>
        </v-toolbar>
        <v-data-table
                :headers="headers"
                :items="users"
                class="elevation-1"
                :loading="loading"
                :search="search"
        >
            <template slot="items" slot-scope="props">
                <td>{{ props.item.id }}</td>
                <td>{{ props.item.name }}</td>
                <td>{{ props.item.email }}</td>
                <td>{{ props.item.date }}</td>
                <td class="justify-center layout px-0">
                    <v-icon
                            small
                            class="mr-2"
                            @click="editItem(props.item)"
                    >
                        edit
                    </v-icon>
                    <v-icon
                            small
                            @click="deleteItem(props.item.id)"
                    >
                        delete
                    </v-icon>
                </td>
            </template>
            <template slot="no-data">
                <v-btn color="primary" @click="initialize">Reset</v-btn>
            </template>
        </v-data-table>
    </div>
</template>

<script>
    export default {
        name: "user",
        data: () => ({
            dialog: false,
            search: '',
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
            ],
            nameRules: [v => !!v || 'Name is required'],
            emailErrors: [],
            headers: [
                {text: 'ID', value: 'id'},
                {text: 'Name', value: 'name'},
                {text: 'E-mail', value: 'email'},
                {text: 'Created date', value: 'date'},
                {text: 'Actions', value: 'name', sortable: false}
            ],
            valid: false,
            editedIndex: -1,
            editedItem: {
                name: '',
                email: '',
                password: '',
            },
            defaultItem: {
                name: '',
                email: '',
                password: '',
            }
        }),

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'New User' : 'Edit User'
            },
            users() {
                return this.$store.getters.users
            },
            passwordRules() {
                if (this.editedIndex === -1) {
                    return [
                        v => !!v || 'Password is required',
                        v => (v && v.length >= 6) || 'Password must be equal or more than 6 characters'
                    ]
                }
                return [
                    v => ((v && v.length >= 6) || !v) || 'Password must be equal or more than 6 characters'
                ]

            },
            editedEmail() {
                return this.editedItem.email
            },
            loading() {
                return this.$store.getters.loading
            },
        },

        watch: {
            dialog(val) {
                val || this.close()
            },
            editedEmail() {
                this.emailErrors = []
            }
        },

        created() {
            this.initialize()
        },

        methods: {
            initialize() {
                this.$store.dispatch('fetchUsers')
            },

            editItem(item) {
                this.editedIndex = this.users.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem(id) {
                if (confirm('Are you sure you want to delete this user?')) {
                    this.$store.dispatch('deleteUser', id)
                        .then(() => {
                            this.initialize()
                            this.close()
                        })
                        .catch((err) => {
                            console.log(err)
                        })
                }
            },

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            save() {
                if (this.editedIndex > -1) {
                    this.$store.dispatch('updateUser', this.editedItem)
                        .then(() => {
                            this.initialize()
                            this.close()
                        })
                        .catch(({message}) => {
                            let errors = JSON.parse(message)
                            if (errors.email) {
                                this.emailErrors.push(errors.email[0])
                            }
                        })
                } else {
                    this.$store.dispatch('createUser', this.editedItem)
                        .then(() => {
                            this.initialize()
                            this.close()
                        })
                        .catch(({message}) => {
                            let errors = JSON.parse(message)
                            if (errors.email) {
                                this.emailErrors.push(errors.email[0])
                            }
                        })
                }

            }
        }
    }
</script>

<style scoped>

</style>